<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d586ac">  <td>14/04/10 10:07:52</td>   <td>0</td> <td title="&gt;&gt;WebDrInit.setFN()[pri:0, instance:Tests_pro.ProTest@5cc4211b]">&gt;&gt;setFN</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="d586ac">  <td>14/04/10 10:07:52</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebDrInit.setUp()[pri:0, instance:Tests_pro.ProTest@5cc4211b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="bd9f80">  <td>14/04/10 10:08:06</td>   <td>13786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProTest._00_T_Pro()[pri:0, instance:Tests_pro.ProTest@5cc4211b]">_00_T_Pro</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="d586ac">  <td>14/04/10 10:08:50</td>   <td>58229</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WebDrInit.tearDown()[pri:0, instance:Tests_pro.ProTest@5cc4211b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147066451</td>   <td></td> </tr>
</table>
